{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-11">
  <h3 class="my-5">About Page</h3>

  <p class="lead" style="text-align:justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, aut odit. Fuga corrupti quibusdam necessitatibus eaque quaerat, sunt, praesentium possimus totam facere eligendi sint ea distinctio, repellendus nesciunt iste ipsum unde magnam deserunt et mollitia veritatis. Iste dicta possimus voluptatem cum? Iste iure, nemo laudantium aperiam quae minus quod neque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa pariatur velit quidem sunt iure, laborum expedita illum delectus asperiores officiis. Commodi, architecto voluptates. Quasi molestias, excepturi ea voluptatum consequatur animi!<br><br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eos, ab, doloribus modi magnam vero autem nesciunt accusantium odio deleniti excepturi veritatis fugit. Fuga nostrum rerum voluptatem. Natus minus expedita iusto reprehenderit commodi unde quibusdam doloribus dignissimos amet, iure quod ipsam sunt consequuntur! Iusto consequatur accusamus at inventore, fugiat aliquam, delectus, vitae itaque ab error corporis nulla sunt nesciunt ut sed? Porro veniam soluta vitae accusantium, similique odio. Ab commodi rem mollitia! Eligendi distinctio vitae alias! Maxime quidem reiciendis a consectetur! Praesentium optio quis incidunt similique in? Harum commodi ex sequi adipisci.</p>
</div>


{% endblock content %}